[Unit]
Description=Tomcat apache aplicacion web
After=network.target

[Service]
Type=forking
User=tomcat
Group=tomcat
ExecStart=/opt/tomcat/bin/startup.sh
ExecStop=/opt/tomcat/bin/shutdown.sh
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target